@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #ededed;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    color: cornflowerblue;
}